#caret {
  display: none;
  height: 1.5rem;
  width: 2px;
  margin: 0;
  padding: 0;
  border-radius: 0.5rem;
  background-color: white;
  z-index: 1;
  position: fixed;
  animation: caretAnim 1s infinite;
  transition-delay: 0.05s;
}

@keyframes caretAnim {
  0% {background: transparent}
  50% {background: white}
  100% {background: transparent}
}