@import "src/styles/main";

#right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stat {
  color: white;
  margin: 0 0.2rem;
}

.option:hover {
  cursor: pointer;
  color: white;
}

@import "../words/words", "../caret/caret", "../settings/settings";
