@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import "words/words", "caret/caret", "settings/settings";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono";
    background-color: #0e261d;
    color: #245F48;
}

#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    background-color: #48bf91;
}

.tool {
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    background-color: #48bf91;
}

#basStats {
    color: white;
    padding: 1.6rem 0 0rem 0rem;
}

.twMainOp:hover, .timeMinOp:hover, .wordsMinOp:hover, #settings:hover {
    cursor: pointer;
    color: white;
}

.highlight {
    color: #a3dfc8;
}