@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import "words/words", "caret/caret", "settings/settings";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono";
    background-color: #0e261d;
    color: #245F48;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;

}

#right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8rem 1rem;
}

.option {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: #245F48;
    border-style: solid;
    margin: 0 0.2rem;
    background-color: #48bf91;
}

#disbar {
    width: 70%;
}

.tool {
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    background-color: #48bf91;
}

.basStat {
    color: white;
}

.twMainOp:hover, .timeMinOp:hover, .wordsMinOp:hover, #settings:hover {
    cursor: pointer;
    color: white;
}

.highlight {
    color: #a3dfc8;
}