@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto Mono";
  background-color: #0e261d;
  color: #245f48;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.option {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-color: #245f48;
  border-style: solid;
  margin: 1rem;
  background-color: #48bf91;
}

.option:hover {
  cursor: pointer;
  color: white;
}

.highlight {
  color: #a3dfc8;
}

#footer {
  padding: 2rem;
}

.pagelink {
  color: inherit;
  text-decoration: none;
}
